body { 
  background: url(main.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#starttext
{
	text-transform: uppercase;
	white-space: nowrap;
	margin: auto;
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 260px;
	font-family: Arial;
}


.btn-primary {
	display: block;
	color: white;
	size: 30px;
	border-radius: 20px;
	background-color: red;
	margin: auto;
	border: 0px solid transparent;
	margin-top: 190px;
	width: 120px;
	padding: 7px;
}

.btn-primary:hover{
	background-color: orange;
}

.link {
	display: block;
	background-color: #1BC727;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-top: 20px;


}
